@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 90vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        /* display: block; */
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario form {
        background-color: yellow;

    }

    div#formulario > h1 {
        font-size: 2.5em;
    }

    div#formulario > p {
        font-size: 1.3em;
        padding: 10px;
        margin-left: 260px;
        margin-right: 10px;
    }

    .campo1 {
        /* background-color: blue; */
        margin-left: 380px;
        width: 300px;
        margin-bottom: 10px;
    }

    .campo1 > input {
        /* background-color: yellow; */
        height: 30px;
        width: 200px;
        padding: 5px;
    }

    .campo2 {
        /* background-color: blue; */
        margin-left: 380px;
        width: 300px;
    }

    .campo2 > input {
        /* background-color: yellow; */
        height: 30px;
        width: 200px;
        padding: 5px;
    }

    div#loginbottom {
        margin-top: 10px;
        margin-left: 360px;
        width: 300px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }
}